.button {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.1em;
    line-height: 1.1em;
    font-weight: 400;
    background: transparent;
    padding: 0;
    text-align: center;
    color: #666;
    cursor: pointer;
    z-index: 2;
    font-family: helvetica;
  }